---
import Base from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";
import { filterByPrix, getOffres } from "../../backend.mjs";

let message = "";
let offres = [];
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const minPrix = parseInt(data.get("minPrix") as string);
  const maxPrix = parseInt(data.get("maxPrix") as string);

  if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
    offres = await filterByPrix(minPrix, maxPrix);
    if (offres.length === 0) {
      message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
    } else {
      message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
    }
  } else {
    message = "Veuillez entrer des valeurs valides pour le prix.";
    offres = await getOffres();
  }
} else {
  offres = await getOffres();
}


---

<Base titre="Accueil">
  <div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Offres</h1>
    <p>{message}</p>
    <form action="/offres" method="POST" class="mb-4 flex space-x-2">
      <input
        type="number"
        name="minPrix"
        placeholder="Prix minimum"
        class="border p-2 rounded"
      />
      <input
        type="number"
        name="maxPrix"
        placeholder="Prix maximum"
        class="border p-2 rounded"
      />
      <input
        type="submit"
        value="Filtrer par prix"
        class="bg-blue-500 text-white p-2 rounded"
      />
    </form>
    <div x-data="{ showFavorites: false, showList: true }">
      <div class="flex space-x-2 mb-4">
        <button
          @click="showFavorites = !showFavorites"
          class="bg-gray-300 p-2 rounded"
        >
          <span x-show="!showFavorites">Afficher les favoris</span>
          <span x-show="showFavorites">Afficher tout</span>
        </button>
        <button
          @click="showList = true; showGrid = false"
          class="bg-gray-300 p-2 rounded">Liste</button
        >
        <button
          @click="showList = false; showGrid = true"
          class="bg-gray-300 p-2 rounded">Grille</button
        >
      </div>
      <div class="mb-4">
        <a href="/offres/surface/80" class="text-blue-500 underline"
          >Maisons avec surface supérieur à 80 m²</a
        >
      </div>
      <div class="mb-4">
        <a href="/offres/prix/400000" class="text-blue-500 underline"
          >Maisons dont le prix est inférieur à 400000</a
        >
      </div>
      <div x-show="showFavorites && showList" class="space-y-4">
        {offres.map((offre: any) => offre.favori && <Card {...offre} />)}
      </div>
      <div x-show="!showFavorites && showList" class="space-y-4">
        {offres.map((offre: any) => <Card {...offre} />)}
      </div>
      <div
        x-show="showFavorites && !showList"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        {offres.map((offre: any) => offre.favori && <Card {...offre} />)}
      </div>
      <div
        x-show="!showFavorites && !showList"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        {offres.map((offre: any) => <Card {...offre} />)}
      </div>
    </div>
  </div>
</Base>
